/*  GENERAL SETTING */
:root {
    /* general color */
    --bg-color: #1c1a32;
    --bg-card-color: #0a0a23;
    --bg-text-color: #3b3c4f;
    --text-h-color:  #f5f6f7;
    --text-p-color: #d0d0d5;

    /* button color */
    --color-text-btn: #0a0a23;
    --bg-btn: #feac32;
    --bg-h-btn: #fecc4c;
    --bg-gradient-btn: linear-gradient(#fecc4c,#ffac33);
    --border-color-btn: #feac32;
    --border-h-color-btn: #f1a02a; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

p {color: var(--text-p-color);}

/*  GAME GUIDE SETTING */
.game__guide {
    background-color: var(--bg-card-color);
    color: var(--text-h-color);
    max-width: 600px;
    max-height: 400px;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.game__guide p {
    color: var(--text-p-color);
    text-align: center;
    line-height: 1.5;
}

.play-btn {
    background-color: var(--bg-btn);
    background-image: var(--bg-gradient-btn);
    color: var(--color-text-btn);
    font-size: 20px;
    width: 200px;
    height: 50px;
    border: 3px solid var(--border-color-btn);
    border-radius: 3px;
    transition: all .15s linear;
}

.play-btn:active, .play-btn:focus, .play-btn:hover {
    background-color: var(--bg-h-btn);
    background-image: none;
    border: 3px solid var(--border-h-color-btn);
}

/*  CARD SETTING */
.container {
    background-color: var(--bg-color);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memo-number {
    background-color: var(--bg-card-color);
    color: var(--text-p-color);
    max-width: 600px;
    max-height: 400px;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.memo-number__title {
    color: var(--text-h-color);
    text-align: center;
}

.memo-number__random {
    background-color: var(--bg-text-color);
    padding: 0 1rem;
    height: 4em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.random-num {
    color: var(--text-p-color);
    font-size: 26px;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  FINAL SCORE SETTING */
.score {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.score__guess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
}
.num__guess {
    background-color: var(--bg-text-color);
    padding: 0 1rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.score__guess__number {
    font-size: 26px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.final__score {
    font-size: 20px;
    text-transform: uppercase;
}

.hidden {
    display: none;
}